In [9]:
!pip install pyathena

Requirement already satisfied: pyathena in /opt/conda/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: boto3>=1.26.4 in /opt/conda/lib/python3.10/site-packages (from pyathena) (1.33.9)
Requirement already satisfied: botocore>=1.29.4 in /opt/conda/lib/python3.10/site-packages (from pyathena) (1.33.9)
Requirement already satisfied: fsspec in /opt/conda/lib/python3.10/site-packages (from pyathena) (2022.7.1)
Requirement already satisfied: tenacity>=4.1.0 in /opt/conda/lib/python3.10/site-packages (from pyathena) (8.0.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3>=1.26.4->pyathena) (0.10.0)
Requirement already satisfied: s3transfer<0.9.0,>=0.8.2 in /opt/conda/lib/python3.10/site-packages (from boto3>=1.26.4->pyathena) (0.8.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.10/site-packages (from botocore>=1.29.4->pyathena) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore>=1.29.4->pyathena) (2.0.7)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.29.4->pyathena) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [10]:
#Libraries
from pyathena import connect
import pandas as pd
import datetime as dt
import numpy as np

In [11]:
# DB Setting
bucket_name = 's3://viamericas-datalake-dev-us-east-1-283731589572-athena/'
origin_name = 'AwsDataCatalog'
database_name= 'analytics'
table_name = 'daily_check'

In [12]:
#Connection
conn = connect(s3_staging_dir=f'{bucket_name}queryresults/',
               region_name='us-east-1')
df = pd.read_sql(f'SELECT * FROM {origin_name}.{database_name}.{table_name};', conn)

/tmp/ipykernel_4749/3429179766.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f'SELECT * FROM {origin_name}.{database_name}.{table_name};', conn)

In [13]:
df.head()

                        payer      country        date   tx     amount
0    BANCO GANADERO (BOLIVIA)      BOLIVIA  2023-03-27   28   11802.00
1            BANCO DEL AUSTRO      ECUADOR  2021-09-10  213   78791.19
2     FEDECACES (EL SALVADOR)  EL SALVADOR  2022-04-20  223  148547.00
3  CAJA POPULAR MEXICANA (UT)       MEXICO  2022-11-17   98   59691.77
4            BANCO RENDIMENTO       BRAZIL  2023-05-19  146   77814.84

In [14]:
# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

In [15]:
# Grouping by 'payer' and 'country' concatenated for this level of granularity
df['payer_country'] = df['payer'] + '_' + df['country']

In [16]:
# Chequeo montos
df['amount'].sum()

25110624454.414898

In [17]:
def aging_filter(df):
    # Find the last date in the sample
    last_date_sample = df['date'].max()

    # Calculate the limit date, one day before the last date in the sample
    limit_date = last_date_sample - pd.Timedelta(days=1)

    # Find the first and last date per 'payer_country' and calculate total_amount and count
    result = (
        df.groupby('payer_country')
        .agg(
            first_date=('date', 'min'),
            last_date=('date', 'max'),
            total_amount=('amount', 'sum'),
            total_transactions=('tx', 'sum')  # Add this line for total_transactions
        )
        .reset_index()
    )

    # Calculate the 'age_payer' variable accurately using the calculated limit_date
    result['age_payer'] = ((limit_date - result['first_date']).dt.days / 30).round(2)

    # Calculate the 'active_payer' variable
    result['active_time'] = ((result['last_date'] - result['first_date']).dt.days / 30).round(2)

    # Calculate the 'inactive' variable
    result['inactive_time'] = ((limit_date - result['last_date']).dt.days / 30).round(2)

    # Sort the final DataFrame by 'total_amount' from highest to lowest
    result = result.sort_values(by='total_amount', ascending=False)

    # Filter the DataFrame based on conditions and return aging_universe
    aging_universe = result.loc[
        (result.age_payer >= 3) & 
        (result.inactive_time <= 3) & 
        (result.total_amount > 10000) & 
        (result.total_transactions > 50)
    ]

    return aging_universe

In [18]:
# Defining Universe
df = df[df['amount'] != 0] # Excluding 0 (flag A & Flag C), defined in EDA

df_aging = aging_filter(df) #Filtering 'payer_country' based on Aging notebook
df_filtered = df[df['payer_country'].isin(df_aging['payer_country'])] # Applying aging filters

In [19]:
# Date format
df_filtered['date'] = pd.to_datetime(df_filtered['date']).dt.date

/tmp/ipykernel_4749/1252395900.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['date'] = pd.to_datetime(df_filtered['date']).dt.date

In [20]:
df_filtered['amount'].sum()

24309892564.970993

In [18]:
# CHEQUEO VALORES

In [21]:
df[df['country'] == 'MEXICO']['amount'].sum()

13655009099.176899

In [22]:
val1 = df_filtered[df_filtered['country'] == 'MEXICO']['amount'].sum()
val1

12910028578.262499

In [84]:
val2 = df[df['country'] == 'MEXICO']['amount'].sum() - df_filtered[df_filtered['country'] == 'MEXICO']['amount'].sum()
val2

744980520.9144001

In [86]:
val2/val1

0.05770556714094149

In [23]:
df[df['payer_country'] == 'ELEKTRA (MEXICO)_MEXICO']['amount'].sum()

6397946743.7287

In [24]:
df_filtered[df_filtered['payer_country'] == 'ELEKTRA (MEXICO)_MEXICO']['amount'].sum()

6397946743.7287

In [25]:
df_filtered['country'].unique()

array(['BOLIVIA', 'ECUADOR', 'EL SALVADOR', 'MEXICO', 'BRAZIL',
       'GUATEMALA', 'HONDURAS', 'PHILIPPINES', 'NICARAGUA', 'SPAIN',
       'DOMINICAN REPUBLIC', 'PERU', 'GHANA', 'UNITED STATES', 'NEPAL',
       'COLOMBIA', 'SIERRA LEONE', 'INDIA', 'CHILE', 'NIGERIA',
       'INDONESIA', 'ARGENTINA', 'HAITI', 'GAMBIA, THE', 'TOGO',
       'UNITED STATES (ATM & DEPOSITS)', 'BENIN', 'CAMEROON',
       'BANGLADESH', 'SENEGAL', 'LIBERIA', 'GUINEA', 'BELGIUM', 'GERMANY',
       'BURKINA FASO', 'THAILAND', "COTE D'IVOIRE (IVORY COAST)",
       'JAMAICA', 'UNITED KINGDOM', 'PORTUGAL', 'FRANCE', 'MALI', 'ITALY',
       'MALAYSIA', 'COSTA RICA'], dtype=object)

In [26]:
### RATES ###
df_rates=pd.read_csv('Rates_csv/rates_2021_2023.csv') # CHEQUEAR FUENTE DE ORIGEN

In [27]:
# Selecting columns & renaming
df_rates = df_rates[['feed_date','symbol','feed_price']] 
df_rates = df_rates.rename(columns={'feed_date':'date'})

In [28]:
#df_rates['date'] = pd.to_datetime(df_rates['date']).dt.date
df_rates['date'] = pd.to_datetime(df_rates['date'])

In [88]:
df_rates[(df_rates['date']> '2021-12-27')].sort_values('date').head(20)

                       date  symbol  feed_price
1488046 2021-12-27 01:00:29  USDBRL      5.6736
1488047 2021-12-27 01:00:29  USDINR     75.2642
1488048 2021-12-27 01:00:29  USDGTQ      7.7226
1488049 2021-12-27 01:00:29  USDMXN     20.6365
1488050 2021-12-27 01:00:29  USDPHP     50.0579
1488051 2021-12-27 01:02:27  USDBRL      5.6736
1488052 2021-12-27 01:02:27  USDINR     75.2578
1488053 2021-12-27 01:02:27  USDGTQ      7.7226
1488054 2021-12-27 01:02:27  USDMXN     20.6356
1488055 2021-12-27 01:02:27  USDPHP     50.0567
1488060 2021-12-27 01:04:35  USDPHP     50.0637
1488059 2021-12-27 01:04:35  USDMXN     20.6353
1488058 2021-12-27 01:04:35  USDGTQ      7.7226
1488056 2021-12-27 01:04:35  USDBRL      5.6736
1488057 2021-12-27 01:04:35  USDINR     75.2545
1488061 2021-12-27 01:06:27  USDBRL      5.6736
1488062 2021-12-27 01:06:27  USDINR     75.2533
1488063 2021-12-27 01:06:27  USDGTQ      7.7226
1488064 2021-12-27 01:06:27  USDMXN     20.6367
1488065 2021-12-27 01:06:27  USDPHP     50.0637

In [30]:
# !No hay continuidad de fechas

In [31]:
# Function to keep last register, per day

def get_closing_prices(data, start_date, end_date):
    # Convert the 'FEED_DATE' column to datetime type if it is not already
    data['date'] = pd.to_datetime(data['date'])

    # Filter by date range
    data_filtered = data[(data['date'] >= start_date) & (data['date'] <= end_date)]

    # Sort by 'FEED_DATE' to ensure that the data is in chronological order
    data_filtered = data_filtered.sort_values(by='date')

    # Group by 'SYMBOL' and 'FEED_DATE', taking the last value of 'FEED_PRICE'
    data_grouped = data_filtered.groupby(['symbol', pd.Grouper(key='date', freq='D')])['feed_price'].last().reset_index()
    
#     # Generate evolution plots for each SYMBOL
#     for symbol in data_grouped['symbol'].unique():
#         symbol_data = data_grouped[data_grouped['symbol'] == symbol]

#         plt.figure(figsize=(10, 6))
#         plt.plot(symbol_data['date'], symbol_data['feed_price'], label=symbol)
#         plt.title(f'Closing prices evolution for {symbol}')
#         plt.xlabel('Date')
#         plt.ylabel('Closing Price')
#         plt.legend()
#         plt.show()
    
    return data_grouped

In [32]:
start_date = '2021-01-01'
end_date = '2023-10-21'

rates = get_closing_prices(df_rates, start_date, end_date)

In [33]:
rates

      symbol       date  feed_price
0     USDBRL 2021-01-01      5.1934
1     USDBRL 2021-01-02      5.1934
2     USDBRL 2021-01-04      5.2972
3     USDBRL 2021-01-05      5.2855
4     USDBRL 2021-01-06      5.3143
...      ...        ...         ...
3940  USDPHP 2023-10-08     56.7708
3941  USDPHP 2023-10-11     56.6812
3942  USDPHP 2023-10-16     56.6998
3943  USDPHP 2023-10-19     56.7388
3944  USDPHP 2023-10-20     56.7010

[3945 rows x 3 columns]

In [34]:
#Date format
#rates['date'] = rates['date'].dt.date

In [35]:
rates[rates['date'] > '2021-12-27'].sort_values('date')

      symbol       date  feed_price
280   USDBRL 2021-12-29      5.7038
1069  USDGTQ 2021-12-29      7.7019
3436  USDPHP 2021-12-29     51.0435
2647  USDMXN 2021-12-29     20.5816
1858  USDINR 2021-12-29     74.5857
...      ...        ...         ...
2366  USDINR 2023-10-20     83.2396
1577  USDGTQ 2023-10-20      7.8388
788   USDBRL 2023-10-20      5.0345
3155  USDMXN 2023-10-20     18.2351
3944  USDPHP 2023-10-20     56.7010

[2545 rows x 3 columns]

In [36]:
# Generating an empty df with date continuity and currency included in rates df
from itertools import product

def generate_continuous_dates(data):
    # Obtener la lista única de monedas y fechas disponibles
    countries = data['symbol'].unique()
    dates = pd.date_range(start=data['date'].min(), end=data['date'].max(), freq='D')

    # Generar todas las combinaciones de países y fechas continuas
    all_dates = list(product(countries, dates))
    continuous_dates = pd.DataFrame(all_dates, columns=['symbol', 'date'])

    return continuous_dates

In [37]:
rates_cont = generate_continuous_dates(rates)

In [38]:
rates_cont = pd.merge(rates_cont, rates, on=['symbol', 'date'], how='left')

In [39]:
rates_cont[rates_cont['date'] > '2021-12-27'].sort_values('date')

      symbol       date  feed_price
361   USDBRL 2021-12-28         NaN
3430  USDMXN 2021-12-28         NaN
2407  USDINR 2021-12-28         NaN
4453  USDPHP 2021-12-28         NaN
1384  USDGTQ 2021-12-28         NaN
...      ...        ...         ...
4091  USDMXN 2023-10-20     18.2351
2045  USDGTQ 2023-10-20      7.8388
1022  USDBRL 2023-10-20      5.0345
3068  USDINR 2023-10-20     83.2396
5114  USDPHP 2023-10-20     56.7010

[3310 rows x 3 columns]

In [40]:
# Sorting by date and country for proper forward filling
rates_cont = rates_cont.sort_values(by=['symbol', 'date'])
# Filling missing values downward within each country group
rates_cont['feed_price'] = rates_cont.groupby('symbol')['feed_price'].fillna(method='ffill')

/tmp/ipykernel_4183/2708011465.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  rates_cont['feed_price'] = rates_cont.groupby('symbol')['feed_price'].fillna(method='ffill')

In [41]:
rates_cont[rates_cont['date'] > '2021-12-26'].sort_values('date').head(20) # OK!

      symbol       date  feed_price
360   USDBRL 2021-12-27      5.6254
3429  USDMXN 2021-12-27     20.7050
2406  USDINR 2021-12-27     74.9377
4452  USDPHP 2021-12-27     50.2775
1383  USDGTQ 2021-12-27      7.7211
2407  USDINR 2021-12-28     74.9377
3430  USDMXN 2021-12-28     20.7050
4453  USDPHP 2021-12-28     50.2775
361   USDBRL 2021-12-28      5.6254
1384  USDGTQ 2021-12-28      7.7211
1385  USDGTQ 2021-12-29      7.7019
4454  USDPHP 2021-12-29     51.0435
2408  USDINR 2021-12-29     74.5857
362   USDBRL 2021-12-29      5.7038
3431  USDMXN 2021-12-29     20.5816
1386  USDGTQ 2021-12-30      7.7187
4455  USDPHP 2021-12-30     51.1352
3432  USDMXN 2021-12-30     20.4625
2409  USDINR 2021-12-30     74.3710
363   USDBRL 2021-12-30      5.5717

In [42]:
rates_cont[rates_cont['date'] > '2023-01-22'].sort_values('date').head(20) # OK!

      symbol       date  feed_price
752   USDBRL 2023-01-23      5.2082
2798  USDINR 2023-01-23     81.5729
3821  USDMXN 2023-01-23     18.8103
4844  USDPHP 2023-01-23     54.4597
1775  USDGTQ 2023-01-23      7.8526
753   USDBRL 2023-01-24      5.1398
2799  USDINR 2023-01-24     81.5724
3822  USDMXN 2023-01-24     18.8012
1776  USDGTQ 2023-01-24      7.8406
4845  USDPHP 2023-01-24     54.6760
754   USDBRL 2023-01-25      5.0737
3823  USDMXN 2023-01-25     18.7980
2800  USDINR 2023-01-25     81.5027
1777  USDGTQ 2023-01-25      7.8251
4846  USDPHP 2023-01-25     54.5097
3824  USDMXN 2023-01-26     18.8079
1778  USDGTQ 2023-01-26      7.8542
2801  USDINR 2023-01-26     81.5159
755   USDBRL 2023-01-26      5.0663
4847  USDPHP 2023-01-26     54.4182

In [43]:
###WE OBTAIN THE LAGS OF UP TO 7 DAYS FOR THE EXCHANGE RATE 
for i in range(1, 8):
        nombre_columna = f'feed_price_retardo_{i}'
        rates_cont[nombre_columna] = rates_cont['feed_price'].shift(i)

In [44]:
rates_cont['var_rate_lag1']=rates_cont.feed_price_retardo_1-rates_cont.feed_price_retardo_2
rates_cont['var_rate_lag2']=rates_cont.feed_price_retardo_2-rates_cont.feed_price_retardo_3
rates_cont['var_rate_lag3']=rates_cont.feed_price_retardo_3-rates_cont.feed_price_retardo_4
rates_cont['var_rate_lag4']=rates_cont.feed_price_retardo_4-rates_cont.feed_price_retardo_5
rates_cont['var_rate_lag5']=rates_cont.feed_price_retardo_5-rates_cont.feed_price_retardo_6
rates_cont['var_rate_lag6']=rates_cont.feed_price_retardo_6-rates_cont.feed_price_retardo_7

In [45]:
rates_cont

,symbol,date,feed_price,feed_price_retardo_1,feed_price_retardo_2,feed_price_retardo_3,feed_price_retardo_4,feed_price_retardo_5,feed_price_retardo_6,feed_price_retardo_7,var_rate_lag1,var_rate_lag2,var_rate_lag3,var_rate_lag4,var_rate_lag5,var_rate_lag6
0,USDBRL,2021-01-01,5.1934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USDBRL,2021-01-02,5.1934,5.1934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USDBRL,2021-01-03,5.1934,5.1934,5.1934,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN
3,USDBRL,2021-01-04,5.2972,5.1934,5.1934,5.1934,NaN,NaN,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN
4,USDBRL,2021-01-05,5.2855,5.2972,5.1934,5.1934,5.1934,NaN,NaN,NaN,0.1038,0.0000,0.0000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5110,USDPHP,2023-10-16,56.6998,56.6812,56.6812,56.6812,56.6812,56.6812,56.7708,56.7708,0.0000,0.0000,0.0000,0.0000,-0.0896,0.0000
5111,USDPHP,2023-10-17,56.6998,56.6998,56.6812,56.6812,56.6812,56.6812,56.6812,56.7708,0.0186,0.0000,0.0000,0.0000,0.0000,-0.0896
5112,USDPHP,2023-10-18,56.6998,56.6998,56.6998,56.6812,56.6812,56.6812,56.6812,56.6812,0.0000,0.0186,0.0000,0.0000,0.0000,0.0000
5113,USDPHP,2023-10-19,56.7388,56.6998,56.6998,56.6998,56.6812,56.6812,56.6812,56.6812,0.0000,0.0000,0.0186,0.0000,0.0000,0.0000
5114,USDPHP,2023-10-20,56.7010,56.7388,56.6998,56.6998,56.6998,56.6812,56.6812,56.6812,0.0390,0.0000,0.0000,0.0186,0.0000,0.0000

In [46]:
# Filling NaN
rates_cont=rates_cont.fillna(method='bfill')
rates_cont=rates_cont.fillna(method='ffill')

/tmp/ipykernel_4183/4137785501.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  rates_cont=rates_cont.fillna(method='bfill')
/tmp/ipykernel_4183/4137785501.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  rates_cont=rates_cont.fillna(method='ffill')

In [47]:
rates_dict = {
    'USDBRL': 'BRAZIL', # Bz Real 
    'USDINR': 'INDIA', # Indian Rupia
    'USDGTQ': 'GUATEMALA', #Quetzal 
    'USDMXN': 'MEXICO', #Mx Peso
    'USDPHP': 'PHILIPPINES' # Ph Peso
}

In [48]:
rates_cont['country'] = rates_cont['symbol'].map(rates_dict)

In [49]:
rates_cont['country'].unique()

array(['BRAZIL', 'GUATEMALA', 'INDIA', 'MEXICO', 'PHILIPPINES'],
      dtype=object)

In [50]:
rates_cont

,symbol,date,feed_price,feed_price_retardo_1,feed_price_retardo_2,feed_price_retardo_3,feed_price_retardo_4,feed_price_retardo_5,feed_price_retardo_6,feed_price_retardo_7,var_rate_lag1,var_rate_lag2,var_rate_lag3,var_rate_lag4,var_rate_lag5,var_rate_lag6,country
0,USDBRL,2021-01-01,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,BRAZIL
1,USDBRL,2021-01-02,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,BRAZIL
2,USDBRL,2021-01-03,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,BRAZIL
3,USDBRL,2021-01-04,5.2972,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,BRAZIL
4,USDBRL,2021-01-05,5.2855,5.2972,5.1934,5.1934,5.1934,5.1934,5.1934,5.1934,0.1038,0.0000,0.0000,0.0000,0.0000,0.0000,BRAZIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5110,USDPHP,2023-10-16,56.6998,56.6812,56.6812,56.6812,56.6812,56.6812,56.7708,56.7708,0.0000,0.0000,0.0000,0.0000,-0.0896,0.0000,PHILIPPINES
5111,USDPHP,2023-10-17,56.6998,56.6998,56.6812,56.6812,56.6812,56.6812,56.6812,56.7708,0.0186,0.0000,0.0000,0.0000,0.0000,-0.0896,PHILIPPINES
5112,USDPHP,2023-10-18,56.6998,56.6998,56.6998,56.6812,56.6812,56.6812,56.6812,56.6812,0.0000,0.0186,0.0000,0.0000,0.0000,0.0000,PHILIPPINES
5113,USDPHP,2023-10-19,56.7388,56.6998,56.6998,56.6998,56.6812,56.6812,56.6812,56.6812,0.0000,0.0000,0.0186,0.0000,0.0000,0.0000,PHILIPPINES
5114,USDPHP,2023-10-20,56.7010,56.7388,56.6998,56.6998,56.6998,56.6812,56.6812,56.6812,0.0390,0.0000,0.0000,0.0186,0.0000,0.0000,PHILIPPINES

In [51]:
df_filtered

,payer,country,date,tx,amount,payer_country,encoded_payer_country
1,CARIBE EXPRESS,DOMINICAN REPUBLIC,2023-01-23,1117,350050.40,CARIBE EXPRESS_DOMINICAN REPUBLIC,58
2,GRUPO EXITO (TN),COLOMBIA,2023-01-23,247,52423.90,GRUPO EXITO (TN)_COLOMBIA,135
3,BANPAIS (RED CHAPINA),HONDURAS,2022-10-31,146,59000.50,BANPAIS (RED CHAPINA)_HONDURAS,41
4,TELECOMM TELEGRAFOS (APPRIZA),MEXICO,2022-05-15,1062,640446.24,TELECOMM TELEGRAFOS (APPRIZA)_MEXICO,214
5,CUSCA (CITI - RECIBA NETWORKS),EL SALVADOR,2023-02-06,868,280568.50,CUSCA (CITI - RECIBA NETWORKS)_EL SALVADOR,69
...,...,...,...,...,...,...,...
101965,TRANSFER DIRECTO,MEXICO,2022-12-05,47,35043.08,TRANSFER DIRECTO_MEXICO,224
101966,ARGENPER,CHILE,2022-12-05,6,1787.19,ARGENPER_CHILE,11
101967,INTERBANK,PERU,2021-01-22,96,23587.00,INTERBANK_PERU,141
101968,COOPERATIVA CACIL (UT),HONDURAS,2022-12-06,26,9073.00,COOPERATIVA CACIL (UT)_HONDURAS,65
101969,PROMERICA (GUA),GUATEMALA,2022-09-02,74,46711.40,PROMERICA (GUA)_GUATEMALA,205

In [52]:
#Date format
rates_cont['date'] = rates_cont['date'].dt.date

In [53]:
# Combined df  containing only the rows that match both the 'date' and 'country' columns in both df (df_filtered and rates).
# WARNING!!! Includes only common columns [date, country] > Check rates_dict
df1 = pd.merge(df_filtered, rates_cont, on=['date', 'country'], how='left')

In [54]:
df1['date'] = pd.to_datetime(df1['date']).dt.date

In [55]:
df1['amount'].sum()

24309892564.971

In [56]:
df1

,payer,country,date,tx,amount,payer_country,encoded_payer_country,symbol,feed_price,feed_price_retardo_1,...,feed_price_retardo_4,feed_price_retardo_5,feed_price_retardo_6,feed_price_retardo_7,var_rate_lag1,var_rate_lag2,var_rate_lag3,var_rate_lag4,var_rate_lag5,var_rate_lag6
0,CARIBE EXPRESS,DOMINICAN REPUBLIC,2023-01-23,1117,350050.40,CARIBE EXPRESS_DOMINICAN REPUBLIC,58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GRUPO EXITO (TN),COLOMBIA,2023-01-23,247,52423.90,GRUPO EXITO (TN)_COLOMBIA,135,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANPAIS (RED CHAPINA),HONDURAS,2022-10-31,146,59000.50,BANPAIS (RED CHAPINA)_HONDURAS,41,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TELECOMM TELEGRAFOS (APPRIZA),MEXICO,2022-05-15,1062,640446.24,TELECOMM TELEGRAFOS (APPRIZA)_MEXICO,214,USDMXN,20.1224,20.1063,...,20.3631,20.3631,20.2129,20.2129,-0.0012,-0.0742,-0.1814,0.0000,0.1502,0.0000
4,CUSCA (CITI - RECIBA NETWORKS),EL SALVADOR,2023-02-06,868,280568.50,CUSCA (CITI - RECIBA NETWORKS)_EL SALVADOR,69,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87703,TRANSFER DIRECTO,MEXICO,2022-12-05,47,35043.08,TRANSFER DIRECTO_MEXICO,224,USDMXN,19.7314,19.3766,...,19.1459,19.2626,19.2234,19.2916,-0.0148,0.2455,0.0000,-0.1167,0.0392,-0.0682
87704,ARGENPER,CHILE,2022-12-05,6,1787.19,ARGENPER_CHILE,11,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87705,INTERBANK,PERU,2021-01-22,96,23587.00,INTERBANK_PERU,141,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87706,COOPERATIVA CACIL (UT),HONDURAS,2022-12-06,26,9073.00,COOPERATIVA CACIL (UT)_HONDURAS,65,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87707,PROMERICA (GUA),GUATEMALA,2022-09-02,74,46711.40,PROMERICA (GUA)_GUATEMALA,205,USDGTQ,7.7418,7.7656,...,7.7363,7.7764,7.7764,7.7435,0.0473,-0.0184,0.0004,-0.0401,0.0000,0.0329

In [57]:
### EFFECT OF CANCELED TRANSACTIONS ###

In [58]:
table2_name = 'daily_sales_count_cancelled_v2'##WE LOAD THE BASE WITH CANCELLATIONS

df2 = pd.read_sql(f'SELECT * FROM {origin_name}.{database_name}.{table2_name};', conn)

/tmp/ipykernel_4183/2678955174.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql(f'SELECT * FROM {origin_name}.{database_name}.{table2_name};', conn)

In [60]:
df2['date'] = pd.to_datetime(df2['date']).dt.date

In [61]:
for i in range(1, 8):
        nombre_columna = f'tx_cancelled_{i}'
        df2[nombre_columna] = df2['tx_cancelled'].shift(i)

In [62]:
df2

,payer,country,date,amount,tx_cancelled,tx_cancelled_1,tx_cancelled_2,tx_cancelled_3,tx_cancelled_4,tx_cancelled_5,tx_cancelled_6,tx_cancelled_7
0,TELEDOLAR,COSTA RICA,2023-01-28,136130.18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEKTRA (BTS),HONDURAS,2023-09-02,604581.29,82,19.0,NaN,NaN,NaN,NaN,NaN,NaN
2,BANCO DE OCCIDENTE,HONDURAS,2022-10-25,509475.89,89,82.0,19.0,NaN,NaN,NaN,NaN,NaN
3,BANCO DE CREDITO DEL PERU - BCP (UT),PERU,2022-10-25,39880.00,12,89.0,82.0,19.0,NaN,NaN,NaN,NaN
4,FARMACIAS GUADALAJARA (UT),MEXICO,2022-10-25,60539.09,20,12.0,89.0,82.0,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
101965,MSBB MONEY,BRAZIL,2023-04-25,388720.89,5,19.0,28.0,42.0,4.0,14.0,27.0,19.0
101966,NAIRAGRAM,NIGERIA,2023-04-25,36868.12,6,5.0,19.0,28.0,42.0,4.0,14.0,27.0
101967,NAIRAGRAM,NIGERIA,2023-07-07,47119.61,8,6.0,5.0,19.0,28.0,42.0,4.0,14.0
101968,BANCO ATLANTIDA,HONDURAS,2021-12-01,215335.64,20,8.0,6.0,5.0,19.0,28.0,42.0,4.0
101969,GLOBAL ENVIOS,ECUADOR,2021-12-01,19880.00,2,20.0,8.0,6.0,5.0,19.0,28.0,42.0

In [63]:
df2['var_tx_cancelled_1']=df2.tx_cancelled_1-df2.tx_cancelled_2
df2['var_tx_cancelled_2']=df2.tx_cancelled_2-df2.tx_cancelled_3
df2['var_tx_cancelled_3']=df2.tx_cancelled_3-df2.tx_cancelled_4
df2['var_tx_cancelled_4']=df2.tx_cancelled_4-df2.tx_cancelled_5
df2['var_tx_cancelled_5']=df2.tx_cancelled_5-df2.tx_cancelled_6
df2['var_tx_cancelled_6']=df2.tx_cancelled_6-df2.tx_cancelled_7

In [64]:
df2

,payer,country,date,amount,tx_cancelled,tx_cancelled_1,tx_cancelled_2,tx_cancelled_3,tx_cancelled_4,tx_cancelled_5,tx_cancelled_6,tx_cancelled_7,var_tx_cancelled_1,var_tx_cancelled_2,var_tx_cancelled_3,var_tx_cancelled_4,var_tx_cancelled_5,var_tx_cancelled_6
0,TELEDOLAR,COSTA RICA,2023-01-28,136130.18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEKTRA (BTS),HONDURAS,2023-09-02,604581.29,82,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BANCO DE OCCIDENTE,HONDURAS,2022-10-25,509475.89,89,82.0,19.0,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN
3,BANCO DE CREDITO DEL PERU - BCP (UT),PERU,2022-10-25,39880.00,12,89.0,82.0,19.0,NaN,NaN,NaN,NaN,7.0,63.0,NaN,NaN,NaN,NaN
4,FARMACIAS GUADALAJARA (UT),MEXICO,2022-10-25,60539.09,20,12.0,89.0,82.0,19.0,NaN,NaN,NaN,-77.0,7.0,63.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101965,MSBB MONEY,BRAZIL,2023-04-25,388720.89,5,19.0,28.0,42.0,4.0,14.0,27.0,19.0,-9.0,-14.0,38.0,-10.0,-13.0,8.0
101966,NAIRAGRAM,NIGERIA,2023-04-25,36868.12,6,5.0,19.0,28.0,42.0,4.0,14.0,27.0,-14.0,-9.0,-14.0,38.0,-10.0,-13.0
101967,NAIRAGRAM,NIGERIA,2023-07-07,47119.61,8,6.0,5.0,19.0,28.0,42.0,4.0,14.0,1.0,-14.0,-9.0,-14.0,38.0,-10.0
101968,BANCO ATLANTIDA,HONDURAS,2021-12-01,215335.64,20,8.0,6.0,5.0,19.0,28.0,42.0,4.0,2.0,1.0,-14.0,-9.0,-14.0,38.0
101969,GLOBAL ENVIOS,ECUADOR,2021-12-01,19880.00,2,20.0,8.0,6.0,5.0,19.0,28.0,42.0,12.0,2.0,1.0,-14.0,-9.0,-14.0

In [65]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101970 entries, 0 to 101969
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   payer               101970 non-null  object
 1   country             101970 non-null  object
 2   date                101970 non-null  object
 3   amount              101970 non-null  float64
 4   tx_cancelled        101970 non-null  int64
 5   tx_cancelled_1      101969 non-null  float64
 6   tx_cancelled_2      101968 non-null  float64
 7   tx_cancelled_3      101967 non-null  float64
 8   tx_cancelled_4      101966 non-null  float64
 9   tx_cancelled_5      101965 non-null  float64
 10  tx_cancelled_6      101964 non-null  float64
 11  tx_cancelled_7      101963 non-null  float64
 12  var_tx_cancelled_1  101968 non-null  float64
 13  var_tx_cancelled_2  101967 non-null  float64
 14  var_tx_cancelled_3  101966 non-null  float64
 15  var_tx_cancelled_4  101965 non-null  float64
 16  var_tx_cancelled_5  101964 non-null  float64
 17  var_tx_cancelled_6  101963 non-null  float64
dtypes: float64(14), int64(1), object(3)
memory usage: 14.0+ MB

In [66]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87708 entries, 0 to 87707
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   payer                  87708 non-null  object
 1   country                87708 non-null  object
 2   date                   87708 non-null  object
 3   tx                     87708 non-null  int64
 4   amount                 87708 non-null  float64
 5   payer_country          87708 non-null  object
 6   encoded_payer_country  87708 non-null  int64
 7   symbol                 33744 non-null  object
 8   feed_price             33744 non-null  float64
 9   feed_price_retardo_1   33744 non-null  float64
 10  feed_price_retardo_2   33744 non-null  float64
 11  feed_price_retardo_3   33744 non-null  float64
 12  feed_price_retardo_4   33744 non-null  float64
 13  feed_price_retardo_5   33744 non-null  float64
 14  feed_price_retardo_6   33744 non-null  float64
 15  feed_price_retardo_7   33744 non-null  float64
 16  var_rate_lag1          33744 non-null  float64
 17  var_rate_lag2          33744 non-null  float64
 18  var_rate_lag3          33744 non-null  float64
 19  var_rate_lag4          33744 non-null  float64
 20  var_rate_lag5          33744 non-null  float64
 21  var_rate_lag6          33744 non-null  float64
dtypes: float64(15), int64(2), object(5)
memory usage: 14.7+ MB

In [67]:
df_final = pd.merge(df1,df2, on=['date','payer','country', 'amount'])

In [68]:
df_final['date'] = pd.to_datetime(df_final['date'])

In [69]:
df_final['amount'].sum()

24309892564.971

In [70]:
### DUMMIES ####

In [71]:
# Weekday indicator (dummy)
df_final['weekday'] = (df_final['date'].dt.dayofweek < 4).astype(int)

In [72]:
# Special dates list - Format: Month-day 
special_dates_list = [ '07-04', #US independence day 
                      '12-25', #Christmas
                      '05-11' # Mexico & Colombia - Mother's day
                     '01-01', #New Year
                     '01-02',
                     '12-26'] 

# Applying format process special_dates function
special_dates_list_processed = [(int(date.split('-')[0]), int(date.split('-')[1])) for date in special_dates_list]

In [73]:
# To check special dates defined by list
def mark_special_dates(row):
    if (row['date'].month, row['date'].day) in special_dates_list_processed:
        return 1
    else:
        return 0

In [74]:
# Marking special dates in df
df_final['special_dates'] = df_final.apply(lambda row: mark_special_dates(row), axis=1)

In [75]:
df_final

,payer,country,date,tx,amount,payer_country,encoded_payer_country,symbol,feed_price,feed_price_retardo_1,...,tx_cancelled_6,tx_cancelled_7,var_tx_cancelled_1,var_tx_cancelled_2,var_tx_cancelled_3,var_tx_cancelled_4,var_tx_cancelled_5,var_tx_cancelled_6,weekday,special_dates
0,CARIBE EXPRESS,DOMINICAN REPUBLIC,2023-01-23,1117,350050.40,CARIBE EXPRESS_DOMINICAN REPUBLIC,58,NaN,NaN,NaN,...,15.0,7.0,-260.0,-106.0,364.0,-13.0,2.0,8.0,1,0
1,GRUPO EXITO (TN),COLOMBIA,2023-01-23,247,52423.90,GRUPO EXITO (TN)_COLOMBIA,135,NaN,NaN,NaN,...,17.0,15.0,35.0,-260.0,-106.0,364.0,-13.0,2.0,1,0
2,BANPAIS (RED CHAPINA),HONDURAS,2022-10-31,146,59000.50,BANPAIS (RED CHAPINA)_HONDURAS,41,NaN,NaN,NaN,...,0.0,36.0,-58.0,105.0,2.0,-9.0,9.0,-36.0,1,0
3,TELECOMM TELEGRAFOS (APPRIZA),MEXICO,2022-05-15,1062,640446.24,TELECOMM TELEGRAFOS (APPRIZA)_MEXICO,214,USDMXN,20.1224,20.1063,...,18.0,2.0,-8.0,12.0,-1.0,0.0,-16.0,16.0,0,0
4,CUSCA (CITI - RECIBA NETWORKS),EL SALVADOR,2023-02-06,868,280568.50,CUSCA (CITI - RECIBA NETWORKS)_EL SALVADOR,69,NaN,NaN,NaN,...,18.0,17.0,-42.0,46.0,-6.0,3.0,-13.0,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87703,TRANSFER DIRECTO,MEXICO,2022-12-05,47,35043.08,TRANSFER DIRECTO_MEXICO,224,USDMXN,19.7314,19.3766,...,20.0,32.0,-14.0,11.0,1.0,-38.0,21.0,-12.0,1,0
87704,ARGENPER,CHILE,2022-12-05,6,1787.19,ARGENPER_CHILE,11,NaN,NaN,NaN,...,1.0,0.0,-5.0,5.0,-5.0,6.0,0.0,1.0,1,0
87705,INTERBANK,PERU,2021-01-22,96,23587.00,INTERBANK_PERU,141,NaN,NaN,NaN,...,1.0,1.0,1.0,-2.0,2.0,-2.0,2.0,0.0,0,0
87706,COOPERATIVA CACIL (UT),HONDURAS,2022-12-06,26,9073.00,COOPERATIVA CACIL (UT)_HONDURAS,65,NaN,NaN,NaN,...,4.0,32.0,-7.0,3.0,5.0,-43.0,39.0,-28.0,1,0
87707,PROMERICA (GUA),GUATEMALA,2022-09-02,74,46711.40,PROMERICA (GUA)_GUATEMALA,205,USDGTQ,7.7418,7.7656,...,3.0,42.0,18.0,-23.0,-9.0,37.0,-2.0,-39.0,0,0

In [76]:
df_final['amount'].sum()

24309892564.971

In [91]:
# Checking amount differences between initial universe and final dataframe
def country_check(df, df_final):
    unique_countries = df_final['country'].unique()
    results = []

    for country in unique_countries:
        total_universe = df[df['country'] == country]['amount'].sum()
        total_abt = df_final[df_final['country'] == country]['amount'].sum()
        difference = total_universe - total_abt
        perc = (1 - total_abt / total_universe) * 100

        results.append({
            'Country': country,
            'Initial Amount': total_universe,
            'ABT Amount': total_abt,
            'Diff Initial-ABT': difference,
            '% Diff': perc
        })

    return pd.DataFrame(results)

# Usage:
country_totals = country_check(df, df_final)

In [92]:
country_totals[country_totals['Country'].isin(rates_dict.values())]

        Country  Initial Amount    ABT Amount  Diff Initial-ABT    % Diff
3        MEXICO    1.365501e+10  1.291003e+10      7.449805e+08  5.455731
5     GUATEMALA    5.804712e+09  5.804710e+09      2.089670e+03  0.000036
6        BRAZIL    7.296333e+08  7.296333e+08      0.000000e+00  0.000000
10  PHILIPPINES    6.902826e+08  6.902826e+08      0.000000e+00  0.000000
23        INDIA    6.678685e+06  6.521721e+06      1.569641e+05  2.350224

In [93]:
### ME QUEDO POR AHORA SOLAMENTE CON LO QUE TIENE VALORES EN RATES ###

In [81]:
df_ABT1 = df_final[df_final['country'].isin(rates_dict.values())]
df_ABT1['amount'].sum(), len(df_ABT1)

(20141176038.158195, 33806)

In [82]:
df_ABT2 = df_final[~df_final['symbol'].isnull()]
df_ABT2['amount'].sum(), len(df_ABT2)

(20096116729.998203, 33744)

In [187]:
df_final[~df_final['symbol'].isnull()]['country'].unique()

array(['MEXICO', 'GUATEMALA', 'BRAZIL', 'PHILIPPINES', 'INDIA'],
      dtype=object)

In [ ]:
# EL PROBLEMA ESTARIA EN QUE HAY RATES NULOS PARA ALGUNAS FECHAS/PAISES

In [200]:
merged = df_ABT1.merge(df_ABT2, how='outer', indicator=True)
diff_rows = merged[merged['_merge'] == 'left_only']
diff_rows

,payer,country,date,tx,amount,payer_country,encoded_payer_country,symbol,feed_price,feed_price_retardo_1,...,tx_cancelled_7,var_tx_cancelled_1,var_tx_cancelled_2,var_tx_cancelled_3,var_tx_cancelled_4,var_tx_cancelled_5,var_tx_cancelled_6,weekday,special_dates,_merge
702,BAM - BANCO AGROMERCANTIL (UT),GUATEMALA,2020-12-31,4,1445.00,BAM - BANCO AGROMERCANTIL (UT)_GUATEMALA,13,NaN,NaN,NaN,...,5.0,0.0,-1.0,-4.0,4.0,1.0,-5.0,1,0,left_only
1686,WALDOS (APPRIZA),MEXICO,2020-12-31,4,534.33,WALDOS (APPRIZA)_MEXICO,223,NaN,NaN,NaN,...,0.0,6.0,1.0,-1.0,0.0,0.0,1.0,1,0,left_only
2085,ELEKTRA (MEXICO),MEXICO,2020-12-31,7698,2418346.71,ELEKTRA (MEXICO)_MEXICO,76,NaN,NaN,NaN,...,22.0,-44.0,44.0,-73.0,57.0,10.0,-13.0,1,0,left_only
2409,MICOOPE-FENACOAC (RED CHAPINA),GUATEMALA,2020-12-31,89,40184.00,MICOOPE-FENACOAC (RED CHAPINA)_GUATEMALA,124,NaN,NaN,NaN,...,8.0,0.0,-236.0,178.0,53.0,-29.0,31.0,1,0,left_only
2615,ELEKTRA (BTS),GUATEMALA,2023-10-21,387,95144.88,ELEKTRA (BTS)_GUATEMALA,74,NaN,NaN,NaN,...,3.0,3.0,1.0,-16.0,-29.0,44.0,-2.0,0,0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28452,CEBUANA LHUILLIER,PHILIPPINES,2023-10-21,12,2451.63,CEBUANA LHUILLIER_PHILIPPINES,57,NaN,NaN,NaN,...,4.0,3.0,1.0,-14.0,13.0,0.0,-3.0,0,0,left_only
29308,M. LHUILLIER,PHILIPPINES,2020-12-31,5,598.50,M. LHUILLIER_PHILIPPINES,109,NaN,NaN,NaN,...,1.0,3.0,-3.0,2.0,2.0,0.0,-1.0,1,0,left_only
29665,ENVICON (ANTERIORMENTE ENVIOS CONFIANZA),MEXICO,2023-10-21,12,8572.00,ENVICON (ANTERIORMENTE ENVIOS CONFIANZA)_MEXICO,79,NaN,NaN,NaN,...,3.0,-1.0,1.0,-5.0,7.0,-9.0,6.0,0,0,left_only
32143,BANRURAL (RYT),GUATEMALA,2023-10-21,13614,5467503.23,BANRURAL (RYT)_GUATEMALA,42,NaN,NaN,NaN,...,6.0,4.0,-9.0,5.0,2.0,-26.0,22.0,0,0,left_only
32144,BBVA - BANCOMER (BTS),MEXICO,2023-10-21,2153,1166312.96,BBVA - BANCOMER (BTS)_MEXICO,45,NaN,NaN,NaN,...,28.0,282.0,4.0,-9.0,5.0,2.0,-26.0,0,0,left_only

In [201]:
diff_rows['date'].unique()

<DatetimeArray>
['2020-12-31 00:00:00', '2023-10-21 00:00:00']
Length: 2, dtype: datetime64[ns]

In [202]:
diff_rows['amount'].sum()

45059308.160000004

In [203]:
diff_rows['amount'].sum() + df_ABT2['amount'].sum()

20141176038.1582

In [204]:
df_ABT1['amount'].sum()

20141176038.1582

In [205]:
df_ABT1.to_csv('ABT_Forecast.csv')

In [206]:
df_ABT1.columns

,payer,country,date,tx,amount,payer_country,encoded_payer_country,symbol,feed_price,feed_price_retardo_1,...,tx_cancelled_6,tx_cancelled_7,var_tx_cancelled_1,var_tx_cancelled_2,var_tx_cancelled_3,var_tx_cancelled_4,var_tx_cancelled_5,var_tx_cancelled_6,weekday,special_dates
3,TELECOMM TELEGRAFOS (APPRIZA),MEXICO,2022-05-15,1062,640446.24,TELECOMM TELEGRAFOS (APPRIZA)_MEXICO,153,USDMXN,20.1075,20.1075,...,18.0,2.0,-8.0,12.0,-1.0,0.0,-16.0,16.0,0,0
5,MICOOPE-FENACOAC (RED CHAPINA),GUATEMALA,2021-01-26,100,56152.00,MICOOPE-FENACOAC (RED CHAPINA)_GUATEMALA,124,USDGTQ,7.7857,7.7857,...,32.0,9.0,-35.0,28.0,24.0,-182.0,150.0,23.0,1,0
8,WALMART (UT),MEXICO,2022-11-07,648,250102.77,WALMART (UT)_MEXICO,224,USDMXN,19.5032,19.5258,...,17.0,10.0,2.0,-17.0,-24.0,41.0,-8.0,7.0,1,0
11,OXXO (TN),MEXICO,2022-09-01,243,17821.36,OXXO (TN)_MEXICO,142,USDMXN,20.1876,20.1385,...,38.0,0.0,2.0,-4.0,-14.0,-10.0,-8.0,38.0,1,0
12,MSBB MONEY,BRAZIL,2023-06-06,512,325606.24,MSBB MONEY_BRAZIL,125,USDBRL,4.9366,4.9427,...,1.0,3.0,3.0,-22.0,-116.0,127.0,11.0,-2.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87697,SORIANA,MEXICO,2021-03-19,496,169693.08,SORIANA_MEXICO,150,USDMXN,20.5059,20.5008,...,364.0,292.0,-6.0,6.0,-21.0,16.0,-355.0,72.0,0,0
87698,BANCO DAYCOVAL,BRAZIL,2021-03-19,169,92813.41,BANCO DAYCOVAL_BRAZIL,19,USDBRL,5.5256,5.5604,...,292.0,27.0,6.0,-21.0,16.0,-355.0,72.0,265.0,0,0
87701,MICOOPE-FENACOAC (RED CHAPINA),GUATEMALA,2022-12-01,165,116782.55,MICOOPE-FENACOAC (RED CHAPINA)_GUATEMALA,124,USDGTQ,7.8053,7.8318,...,3.0,32.0,-6.0,-9.0,19.0,-75.0,78.0,-29.0,1,0
87703,BANCO INDUSTRIAL,GUATEMALA,2021-01-02,2005,981210.84,BANCO INDUSTRIAL_GUATEMALA,29,USDGTQ,7.8335,7.8134,...,37.0,224.0,-10.0,-26.0,-2.0,38.0,-37.0,-187.0,0,1
87706,CHEDRAUI (APPRIZA),MEXICO,2022-08-12,23,5437.21,CHEDRAUI (APPRIZA)_MEXICO,58,USDMXN,19.9899,19.9899,...,1.0,0.0,-4.0,0.0,-5.0,7.0,2.0,1.0,0,0

In [95]:
df_elektra = df_ABT1[df_ABT1['payer_country'] == 'ELEKTRA (MEXICO)_MEXICO']

In [96]:
df_elektra['amount'].sum()

6397946743.728699

In [97]:
df_elektra.to_csv('ABT_elektra.csv')

In [99]:
df_Mexico = df_ABT1[df_ABT1['country'] == 'MEXICO']

In [102]:
df_Mexico.head()

,payer,country,date,tx,amount,payer_country,encoded_payer_country,symbol,feed_price,feed_price_retardo_1,...,tx_cancelled_6,tx_cancelled_7,var_tx_cancelled_1,var_tx_cancelled_2,var_tx_cancelled_3,var_tx_cancelled_4,var_tx_cancelled_5,var_tx_cancelled_6,weekday,special_dates
3,TELECOMM TELEGRAFOS (APPRIZA),MEXICO,2022-05-15,1062,640446.24,TELECOMM TELEGRAFOS (APPRIZA)_MEXICO,214,USDMXN,20.1224,20.1063,...,18.0,2.0,-8.0,12.0,-1.0,0.0,-16.0,16.0,0,0
8,WALMART (UT),MEXICO,2022-11-07,648,250102.77,WALMART (UT)_MEXICO,290,USDMXN,19.4623,19.5258,...,17.0,10.0,2.0,-17.0,-24.0,41.0,-8.0,7.0,1,0
11,OXXO (TN),MEXICO,2022-09-01,243,17821.36,OXXO (TN)_MEXICO,198,USDMXN,20.1845,20.2070,...,38.0,0.0,2.0,-4.0,-14.0,-10.0,-8.0,38.0,1,0
13,TRANSFER DIRECTO,MEXICO,2023-06-06,125,94569.26,TRANSFER DIRECTO_MEXICO,224,USDMXN,17.3802,17.4598,...,3.0,5.0,-22.0,-116.0,127.0,11.0,-2.0,-2.0,1,0
18,WALDOS (APPRIZA),MEXICO,2023-06-12,19,5260.00,WALDOS (APPRIZA)_MEXICO,289,USDMXN,17.2849,17.2912,...,3.0,6.0,16.0,-34.0,36.0,-40.0,37.0,-3.0,1,0

In [104]:
df_Mexico.columns

Index(['payer', 'country', 'date', 'tx', 'amount', 'payer_country',
       'encoded_payer_country', 'symbol', 'feed_price', 'feed_price_retardo_1',
       'feed_price_retardo_2', 'feed_price_retardo_3', 'feed_price_retardo_4',
       'feed_price_retardo_5', 'feed_price_retardo_6', 'feed_price_retardo_7',
       'var_rate_lag1', 'var_rate_lag2', 'var_rate_lag3', 'var_rate_lag4',
       'var_rate_lag5', 'var_rate_lag6', 'tx_cancelled', 'tx_cancelled_1',
       'tx_cancelled_2', 'tx_cancelled_3', 'tx_cancelled_4', 'tx_cancelled_5',
       'tx_cancelled_6', 'tx_cancelled_7', 'var_tx_cancelled_1',
       'var_tx_cancelled_2', 'var_tx_cancelled_3', 'var_tx_cancelled_4',
       'var_tx_cancelled_5', 'var_tx_cancelled_6', 'weekday', 'special_dates'],
      dtype='object')

In [118]:
columns_to_group = ['tx','amount', 'tx_cancelled', 'tx_cancelled_1',
       'tx_cancelled_2', 'tx_cancelled_3', 'tx_cancelled_4', 'tx_cancelled_5',
       'tx_cancelled_6', 'tx_cancelled_7', 'var_tx_cancelled_1',
       'var_tx_cancelled_2', 'var_tx_cancelled_3', 'var_tx_cancelled_4',
       'var_tx_cancelled_5', 'var_tx_cancelled_6']

In [128]:
df_Mexico.drop(['country', 'payer'], axis=1).groupby('date')[columns_to_group].sum()

,tx,amount,tx_cancelled,tx_cancelled_1,tx_cancelled_2,tx_cancelled_3,tx_cancelled_4,tx_cancelled_5,tx_cancelled_6,tx_cancelled_7,var_tx_cancelled_1,var_tx_cancelled_2,var_tx_cancelled_3,var_tx_cancelled_4,var_tx_cancelled_5,var_tx_cancelled_6
date,,,,,,,,,,,,,,,,
2020-12-31,11255,3463269.59,528,192.0,391.0,254.0,313.0,825.0,175.0,190.0,-199.0,137.0,-59.0,-512.0,650.0,-15.0
2021-01-01,2946,1032339.36,167,317.0,977.0,435.0,313.0,246.0,223.0,210.0,-660.0,542.0,122.0,67.0,23.0,13.0
2021-01-02,12836,4795917.89,605,841.0,561.0,1210.0,331.0,305.0,197.0,155.0,280.0,-649.0,879.0,26.0,108.0,42.0
2021-01-03,10971,4052298.14,507,765.0,544.0,774.0,357.0,451.0,383.0,893.0,221.0,-230.0,417.0,-94.0,68.0,-510.0
2021-01-04,13492,5483331.22,688,208.0,437.0,827.0,1103.0,747.0,526.0,622.0,-229.0,-390.0,-276.0,356.0,221.0,-96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-17,27858,13755379.10,1478,536.0,626.0,524.0,581.0,855.0,1072.0,433.0,-90.0,102.0,-57.0,-274.0,-217.0,639.0
2023-10-18,28009,15698098.07,1440,487.0,969.0,213.0,590.0,798.0,454.0,363.0,-482.0,756.0,-377.0,-208.0,344.0,91.0
2023-10-19,29727,16668157.64,1416,505.0,136.0,352.0,230.0,269.0,349.0,998.0,369.0,-216.0,122.0,-39.0,-80.0,-649.0
2023-10-20,50636,25812565.72,1652,789.0,573.0,791.0,268.0,1514.0,743.0,693.0,216.0,-218.0,523.0,-1246.0,771.0,50.0
2023-10-21,58145,27667573.90,1454,616.0,436.0,1032.0,594.0,394.0,1253.0,333.0,180.0,-596.0,438.0,200.0,-859.0,920.0

In [119]:
ABT_Mex = df_Mexico.drop(['country', 'payer'], axis=1).groupby('date')[columns_to_group].sum()

In [120]:
df_Mexico.to_csv('ABT_MEXICO.csv')

In [133]:
df_Mexico[df_Mexico['date'] == '2021-01-01']['var_tx_cancelled_3'].sum()

122.0

In [122]:
ABT_Mex.reset_index(inplace = True)

In [123]:
ABT_Mex[ABT_Mex['date'] == '2021-01-01']

,date,tx,amount,tx_cancelled,tx_cancelled_1,tx_cancelled_2,tx_cancelled_3,tx_cancelled_4,tx_cancelled_5,tx_cancelled_6,tx_cancelled_7,var_tx_cancelled_1,var_tx_cancelled_2,var_tx_cancelled_3,var_tx_cancelled_4,var_tx_cancelled_5,var_tx_cancelled_6
1,2021-01-01,2946,1032339.36,167,317.0,977.0,435.0,313.0,246.0,223.0,210.0,-660.0,542.0,122.0,67.0,23.0,13.0